<ion-view style="background: url('img/bg.png') no-repeat;-webkit-background-size: 100% 100%;">
<ion-content  ng-controller="Forgot">
	<div style="width:95%;margin:0px auto;">
	<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()" style="color:#fff;">Back</a>
	<div class="card">
  <div class="item item-icon-left item-text-wrap">
  	<i class="icon ion-ios-information-outline"></i>
    Account Review takes upto 24h,You cannot login during this time.
  </div>
</div>
	<div class="card">
  <div class="item item-icon-left item-text-wrap">
  	<i class="icon ion-ios-information-outline"></i>
    Try requesting your login details below with the email you used during registration,contact secratory if none of these works out
  </div>
</div>
<form name="form" ng-submit="send(form)">
	<label class="item item-input item-stacked-label" style="background:#fff;margin-top:25px;margin-bottom:15px;border-radius:4px;border:none;">
          <span class="input-label">Email</span>

          <input type="text" ng-model="email"  style="background:#fff;" disallow-spaces stopccp autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/" name="email">


        </label>
        <button class="button button-outline button-block button-calm" style="font-size:17px;font-weight:600;border-radius:24px;color:#fff;" >Send</button>
         </form>
        </div>
</ion-content>
</ion-view>
